/* ==================================================
                    GLOBAL VALUES                    
   ================================================== */

/* Import Google Fonts required for the project  */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Definition of variables */
:root {
    --white: #ffffff;
    --black: #000000;
    --light: #d69e3d;
    --dark: #966f2c;
    --background: #f3f0e9;
    --ff-ss: "Lato", sans-serif;
    --ff-ss-two: "Karla", sans-serif;
    --mw: 1200px;
}

body {
    margin: 0 auto;
    top: 0;
    font-family: var(--ff-ss-two);
    background-color: var(--background);
    font-size: 16px;
}

.main-container {
    width: 100%;
    justify-content: center;

}

h1,
h2,
h3,
nav {
    text-transform: uppercase;
    font-family: var(--ff-ss);
    font-weight: 700;

}

h1 {
    color: var(--white);
    font-size: 2.027rem;
}

h2 {
    color: var(--black);
    font-size: 1.802rem;
}

h3 {
    color: var(--black);
    font-size: 1.424rem;
}

p {
    line-height: 20px;
}

hr {
    color: var(--white);
    border-width: 0.025rem;
    opacity: 0.3;
}

/* General style for buttons */
.btn {
    font-family: var(--ff-ss-two);
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: .75em 1.25em;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clear-btn {
    transition: background-color 0.3s ease;
}

/* Transitions for all buttons for hover and focus states */
.btn:hover,
.btn:focus,
#black-btn:hover,
#black-btn:focus {
    background-color: var(--dark);
    border: solid 1px var(--white);
    color: var(--white);
}

#clear-btn:hover,
#clear-btn:focus {
    background-color: var(--white);
    border: solid 1px var(--white);
    color: var(--black);
}

/* Style for yellow paragraph of each section */
.text {
    color: #d69e3d;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
}

/*--------------SKIP LINKS---------------*/
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: .5em 1em;
}

.skip-links a:focus {
    top: 0;
}

.skip-links a,
.skip-links a:focus {
    background-color: var(--light);
    color: var(--white);
}

/*--------------ANIMATIONS---------------*/
/* Hero Section: Button Animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25%,
    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

button.bounce {
    animation: bounce 3s ease-in-out infinite;
}

/* Hero Section: Button Animation */
@keyframes vanish {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo.vanish {
    animation: vanish 5s ease-in-out infinite;
}


/* ==================================================
                    DEFAULT-MOBILE                    
   ================================================== */

/* sets max width for the main container of each section*/
.wrapper {
    max-width: var(--mw);
}

/* ---------------- HEADER ----------------- */
header {
    background-color: var(--black);
}

.container-header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.logo img {
    width: 250px;
}

.main-nav ul {
    list-style: none;
    /* remove styles of list */
    display: flex;
    padding-left: 0;
    margin: 10px;
    justify-content: center;
}

.main-nav ul a {
    display: flex;
    color: var(--white);
    padding: .75em 1.25em;
    text-decoration: none;
    white-space: nowrap
}

/* Hover and Focus nav */
.main-nav ul a:hover,
.main-nav ul a:focus {
    color: var(--dark);
}

/* ---------------- MAIN ----------------- */
/* Container-Hero */
.container-hero {
    background-image: url("../images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 45%;
    height: 450px;
    width: 100%;
    display: flex;
    margin-bottom: 70px;
}

.hero {
    background-color: #0000009a;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.hero h1 {
    margin: 10px;
}

.hero p {
    color: var(--white);
    padding: 0 50px;
    margin-bottom: 30px;
}


/* Container Welcome */
.container-welcome {
    padding: 0 10px;
    margin-bottom: 70px;
}

.container-welcome h2 {
    padding-right: 100px;
}

/* Container Gallery */
.gallery {
    display: flex;
    flex-direction: column;
}

.gallery img {
    width: 100%;
}

.sub-gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Container What we offer */
.container-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.container-offer p {
    margin: 0px;
}

.container-offer h2,
h3 {
    margin: 10px;
}

.service-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.service {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;

}

.service img {
    width: 100%;
    height: 170px;
}

/* Container Our Menu and Locations */
.container-explore {
    background: var(--black);
    background-image: url("../images/coffee-shop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 650px;
    width: 100%;
    display: flex;
    margin-bottom: 90px;
}

.container-explore p {
    margin: 0px;
}

.container-explore h2,
h3 {
    margin: 10px;
}

.background-explore {
    background-color: #0000009a;
    height: 100%;
    width: 100%;
    display: flex;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.menu,
.locations {
    padding-top: 40px;
    padding-bottom: 40px;
}

.menu h2,
.locations h2 {
    color: var(--white);
}

#clear-btn {
    background-color: transparent;
    border: solid 1px var(--white);
    color: var(--white);
}

/* Container About Us */
.container-about {
    padding: 0 10px;
    margin-bottom: 70px;
}

.container-about p {
    margin-top: 0px;
}

.container-about h2 {
    margin: 0px;
    padding-bottom: 20px;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-img img {
    width: 100%;
}

.about-story {
    margin-top: 20px;
    margin-bottom: 20px;
}

#black-btn {
    background-color: var(--black);
    border: none;
    color: var(--white);
}

/* Container Testimonials  */

.container-testimonials {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 10px;
}

.container-testimonials p {
    margin: 0;
}

.container-testimonials h2 {
    color: var(--white);
    margin-top: 10px;
    padding-right: 100px;
}

.customers-testimonials {
    background: var(--black);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.customers-testimonials img {
    opacity: .6;
}

.testimonial {
    height: 500px;
    display: flex;
    flex-direction: column;

}

.testimonial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial:nth-child(1) img {
    object-position: 40% 50%;
}

.testimonial:nth-child(2) img {
    object-position: 90% 5%;
}

.testimonial:nth-child(3) img {
    object-position: 90% 2%;
}

.testimonial p {
    color: var(--white);
    padding: 0 20px;
}

p.customer {
    color: var(--light);
    padding: 0 20px;
    text-transform: uppercase;
}

.review {
    position: relative;
    top: -140px;
}

.footer {
    background-color: var(--black);
    padding: 0 10px;
}

.container-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.container-footer p {
    color: var(--white);
}

/* ==================================================
                    TABLET - 768PX and Above                
   ================================================== */
@media screen and (min-width:768px) {
    h1 {
        font-size: 2.986rem;
    }

    h2 {
        font-size: 2.488rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    p {
        font-size: 1rem;
    }

    /* Container Hero */
    .hero {
        padding: 0 80px;
    }

    .container-hero {
        margin-bottom: 100px;
    }

    /* Container Welcome */
    .container-welcome {
        padding: 0 20px;
        margin-bottom: 100px;
    }

    .container-welcome h2 {
        padding-right: 250px;
        margin-top: 0;
    }

    /* Container Gallery */
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .sub-gallery {
        margin-top: 0;
    }

    /* Container What we offer */
    .container-offer {
        margin-bottom: 70px;
    }

    .service-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .service-container .service:nth-child(1) {
        grid-column: 2 / span 2;
    }

    .service-container .service:nth-child(2) {
        grid-column: 4 / span 2;
    }

    .service-container .service:nth-child(3) {
        grid-column: 3 / span 2;
    }

    .service {
        width: 400px;
        padding: 10px
    }

    .service img {
        width: 150px;
        height: auto;
    }

    /* Container Our Menu and Locations */
    .container-explore {
        display: flex;
        margin-bottom: 100px;
    }

    .explore {
        display: flex;
        flex-direction: row;
    }

    .menu,
    .locations {
        padding: 40px;
    }

    /* Container About Us */
    .container-about {
        padding: 0 20px;
        margin-bottom: 100px;
    }

    .about {
        display: flex;
        flex-direction: row;
    }

    .about-img img {
        width: 400px;
        height: auto;

    }

    .about-story {
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Container Testimonials */
    .container-testimonials {
        padding-bottom: 20px;
    }

    .container-testimonials p {
        padding-top: 90px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-testimonials h2 {
        padding-left: 20px;
        padding-right: 300px;
    }

    .customers-testimonials {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .testimonial {
        height: 600px;
    }

    .testimonial p {
        padding: 7px 20px;
    }

    .container-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

}

/* ==================================================
                    DESKTOP - 1100PX and Above                
   ================================================== */
@media screen and (min-width:1100px) {

    /* Max-width */
    .wrapper {
        margin: 0 auto;
        padding: 0;
    }

    h1 {
        font-size: 3.815rem;
    }

    h2 {
        font-size: 3.052rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    p {
        font-size: 1rem;
    }

    /* Header */
    .container-header {
        padding: 0 90px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        padding: 15px;
    }

    .main-nav ul {
        margin-left: 350px;
    }

    /* Container Hero */
    .container-hero {
        height: 600px;
    }

    .hero {
        padding: 0 250px;
    }

    /* Container Welcome */
    .container-welcome {
        padding: 0 100px;
    }

    .container-welcome h2 {
        padding-right: 350px;

    }

    /* Container What we offer */
    .service-container {
        height: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .service {
        padding: 0;
        margin: 10px;
        width: 350px;
    }

    .service h3 {
        white-space: nowrap
    }

    .service img {
        width: 120px;
        height: 100%;
    }

    /* Container Our Menu and Locations */
    .container-explore {
        height: 400px;
    }

    .explore {
        padding: 0 75px;
    }

    .explore h2 {
        margin: 0;
        padding: 10px 0;
        font-size: 2.25rem;
    }

    .menu h2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .explore button {
        margin-top: 30px;
    }

    /* Container About Us */
    .about {
        padding: 0 75px;
    }

    .about-img img {
        width: 400px;
        height: auto;

    }

    .about-story {
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container-testimonials {
        padding-left: 75px;
        padding-right: 75px;
    }

    .container-testimonials h2 {
        padding-right: 400px;
        margin-bottom: 20px;
    }

    .testimonial {
        height: 400px;
    }

    /* Container Footer */
    .container-footer {
        padding: 90px 40px;
    }

}